html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loading {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#canvas {
    width: 100%;
    height: 100%;
}